## This file is for process origianl file and create new files

In [38]:
#import numpy as np
#import os
import pandas as pd
#import matplotlib.pyplot as plt

### Read from xlsx file

In [2]:
sc0 = pd.read_excel('An Min_All sample size NEW HEALTHY VS. OTHER SCORS bLOCK2.xlsx', sheet_name='NEW H VS. SC0')
sc1 = pd.read_excel('An Min_All sample size NEW HEALTHY VS. OTHER SCORS bLOCK2.xlsx', sheet_name='New H vs. Sc1')
sc2_4 = pd.read_excel('An Min_All sample size NEW HEALTHY VS. OTHER SCORS bLOCK2.xlsx', sheet_name='NEW H VS. SC 2-4')
sc5_7 = pd.read_excel('An Min_All sample size NEW HEALTHY VS. OTHER SCORS bLOCK2.xlsx', sheet_name='NEW H vs. SC 5-7')
sc8_15 = pd.read_excel('An Min_All sample size NEW HEALTHY VS. OTHER SCORS bLOCK2.xlsx', sheet_name='NEW H VS. SC 8-15')
sc16_29 = pd.read_excel('An Min_All sample size NEW HEALTHY VS. OTHER SCORS bLOCK2.xlsx', sheet_name='NEW H VS. SC 16-29')
sc30_49 = pd.read_excel('An Min_All sample size NEW HEALTHY VS. OTHER SCORS bLOCK2.xlsx', sheet_name='NEW H VS. SC 30-49')
sc50_70 = pd.read_excel('An Min_All sample size NEW HEALTHY VS. OTHER SCORS bLOCK2.xlsx', sheet_name='NEW H VS. SC 50-70')

### concate all data into one table

In [3]:
pd_list = [sc0,sc1,sc2_4,sc5_7,sc8_15,sc16_29,sc30_49,sc50_70]
new_list = []
for item in pd_list:
    _name = [item.columns[0]][0]
    item = item.rename(columns={_name:'label'})
    new_list.append(item)

In [8]:
#pd_list = [sc0,sc1,sc2_4,sc5_7,sc8_15,sc16_29,sc30_49,sc50_70]
full_ps = pd.concat(new_list,ignore_index=True)
full_ps.to_excel("full_data.xlsx")

In [9]:
full_ps.tail()

,label,394.6,396.7,398.7,400.8,402.8,404.9,406.9,409,411,...,866.7,868.8,870.9,872.9,875,877,879.1,881.1,883.2,885.2
4270,1,0.06071,0.05541,0.04920,0.04272,0.03642,0.03073,0.02640,0.02401,0.02263,...,0.2277,0.2282,0.2289,0.2292,0.2295,0.2299,0.2300,0.2302,0.2305,0.2307
4271,1,0.06359,0.05769,0.05060,bv,0.03641,0.03005,0.02511,0.02216,0.02016,...,0.1602,0.1603,0.1609,0.1612,0.1620,0.1629,0.1636,0.1643,0.1651,0.1655
4272,1,0.05339,0.05177,0.04892,0.04494,0.04043,0.03551,0.03035,0.02542,0.02417,...,0.1921,0.1929,0.1933,0.1937,0.1942,0.1949,0.1952,0.1958,0.1960,0.1959
4273,1,0.06048,0.05508,0.04885,0.04218,0.03576,0.03008,0.02581,0.02351,0.02178,...,0.1767,0.1771,0.1777,0.1782,0.1790,0.1796,0.1801,0.1805,0.1806,0.1806
4274,1,0.05644,0.05264,0.04799,0.04262,0.03730,0.03223,0.02798,0.02511,0.02374,...,0.1859,0.1865,0.1870,0.1875,0.1882,0.1889,0.1897,0.1905,0.1912,0.1915

### Change each sheet label:
#### Healthy is 0, sc1 disease : 1, sc2_4 disease: 2, sc5_7 disease: 3, sc8_15 disease: 4, sc16_29 disease : 5, sc30_49 disease: 6
#### sc50_70 disease : 7
#### Note: don't use sc0 data for classification

In [12]:
_name = sc1.columns[0]
sc1_new = sc1.rename(columns = {_name:'label'})
sc1_new.to_excel("sc1_new.xlsx")

In [17]:
_name = sc2_4.columns[0]
sc2_4_new = sc2_4.rename(columns = {_name:'label'})
for index,row in sc2_4_new.iterrows():
    if row['label'] == 1:
        sc2_4_new.at[index,'label'] = 2
sc2_4_new.to_excel("sc2_4_new.xlsx")

In [20]:
_name = sc5_7.columns[0]
sc5_7_new = sc5_7.rename(columns = {_name:'label'})
for index, row in sc5_7_new.iterrows():
    if row['label'] == 1:
        sc5_7_new.at[index, 'label'] = 3

sc5_7_new.to_excel("sc5_7_new.xlsx")

In [22]:
_name = sc8_15.columns[0]
sc8_15_new = sc8_15.rename(columns = {_name:'label'})
for index, row in sc8_15_new.iterrows():
    if row['label'] == 1:
        sc8_15_new.at[index, 'label'] = 4
        
sc8_15_new.to_excel('sc8_15_new.xlsx')

In [23]:
_name = sc16_29.columns[0]
sc16_29_new = sc16_29.rename(columns = {_name:'label'})
for index, row in sc16_29_new.iterrows():
    if row['label'] == 1:
        sc16_29_new.at[index, 'label'] = 5
        
sc16_29_new.to_excel('sc16_29_new.xlsx')

In [24]:
_name = sc30_49.columns[0]
sc30_49_new = sc30_49.rename(columns = {_name:'label'})
for index, row in sc30_49_new.iterrows():
    if row['label'] == 1:
        sc30_49_new.at[index, 'label'] = 6

sc30_49_new.to_excel('sc30_49_new.xlsx')

In [26]:
_name = sc50_70.columns[0]
sc50_70_new = sc50_70.rename(columns = {_name:'label'})
for index, row in sc50_70_new.iterrows():
    if row['label'] == 1:
        sc50_70_new.at[index, 'label'] = 7
        
sc50_70_new.to_excel('sc50_70_new.xlsx')

In [31]:
for col in sc50_70_new:
    if col == 'label':
        continue
    
    for idx, row_value in sc50_70_new[col].iteritems():
        if not isinstance(row_value, (int, float)):
            print(idx, col, row_value)

400.8 484  bv

In [34]:
pd_list = [sc1_new,sc2_4_new,sc5_7_new, sc8_15_new, sc16_29_new , sc30_49_new , sc50_70_new]

for pd in pd_list:
    for col in pd:
        if col == 'label':
            continue
        for idx, row_value in pd[col].iteritems():
            if not isinstance(row_value, (int, float)):
                print(idx, col, row_value)
            elif row_value >= 1.0:
                print(idx, col, row_value)

484 400.8  bv

In [39]:
pd_list = [sc1_new,sc2_4_new,sc5_7_new, sc8_15_new, sc16_29_new , sc30_49_new , sc50_70_new]
only_dis = []
for _pd in pd_list:
    _dis_pd = _pd.loc[_pd['label'] != 0]
    only_dis.append(_dis_pd)
    
full_ps = pd.concat(only_dis,ignore_index=True)
full_ps.to_excel("full_disease_data.xlsx")

In [41]:
full_ps = pd.concat(pd_list, ignore_index=True)
full_ps.to_excel("full_data_with_class.xlsx")